<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">FANTOM</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link actived" href="#">Hjem</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Tjenester</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Kontakt</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Blogg</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="tel:+98 941 63 884">+98 941 63 884</a>
                </li>
            </ul>
          </div>
        </div>
      </nav>
      <section class="first">
          <div class="row">
              <div class="col-lg-8">
                  <h1>Fantom - <br> 3D studio and creative agency</h1>
                  <p>Vi har specialisert ass pa effektiv markedskommunikajosjon. 3D visualiseering tekst og digitale salgsvverktoy utviklet for a engasgeg og konvertere kunder i dered malgruppe</p>
                  <button>button</button>
              </div>
              <div class="col-lg-4">
                  <img src="img-of-first-section.png" alt="">
              </div>
          </div>
      </section>
      <section class="second">
          <div class="container">
            <h1>Nar Gir Det Mening A Jobbe Med Oss?</h1>
              <div class="row">
                <div class="col-lg-4">
                    <img src="beta-img.png" alt="">
                    <h3>Punktlige</h3>
                    <p>Vart mal er a altid levere. Vi er ikki redd for a brette opp ermenge og jobbe intensivt. Vi gar ikke hjem klokka 16:00 nar vi vet at det haster</p>
                </div>
                <div class="col-lg-4">
                  <img src="beta-img.png" alt="">
                  <h3>Punktlige</h3>
                  <p>Vart mal er a altid levere. Vi er ikki redd for a brette opp ermenge og jobbe intensivt. Vi gar ikke hjem klokka 16:00 nar vi vet at det haster</p>
              </div>
              <div class="col-lg-4">
                  <img src="beta-img.png" alt="">
                  <h3>Punktlige</h3>
                  <p>Vart mal er a altid levere. Vi er ikki redd for a brette opp ermenge og jobbe intensivt. Vi gar ikke hjem klokka 16:00 nar vi vet at det haster</p>
              </div>
              </div>
          </div>
      </section>
      <section class="third">
          <div class="row">
                <div class="col-2">
                    <img class="cub1" src="cube1.png" alt=""> <br>
                    <img class="cub2" src="cube1.png" alt="">
                </div> 
                <div class="col-8">
                    <div class="container">
                        <h1>Vi leverer blant annet</h1>
                        <div class="line">
                            <div class="row">
                                <div class="col-1">
                                    <h2 class="_1">1</h2>
                                </div>
                                <div class="col-4">
                                    <h2 class="_1">3D visualisering</h2>
                                </div>
                                <div class="col-4">
                                    <p class="_1">Fotorelisteski 3d builder eller video som gir dere effektiv produsjon og gior det lett for kundene dine a vege det du tilybr</p>
                                </div>
                                <div class="col-3">
                                    <button class="line_btn">button</button>
                                </div>
                            </div>
                        </div>
                        <div class="line line2">
                            <div class="row">
                                <div class="col-1">
                                    <h2 class="_2">2</h2>
                                </div>
                                <div class="col-4">
                                    <h2 class="_2">Digitale salgsvverktoy</h2>
                                </div>
                                <div class="col-4">
                                    <p class="_2">Fotorelisteski 3d builder eller video som gir dere effektiv produsjon og gior det lett for kundene dine a vege det du tilybr</p>
                                </div>
                                <div class="col-3">
                                    <button class="line_btn2">button</button>
                                </div>
                            </div>
                        </div>
                        <div class="line line3">
                            <div class="row">
                                <div class="col-1">
                                    <h2 class="_3">3</h2>
                                </div>
                                <div class="col-4">
                                    <h2 class="_3">Tekstfortfatter</h2>
                                </div>
                                <div class="col-4">
                                    <p class="_3">Fotorelisteski 3d builder eller video som gir dere effektiv produsjon og gior det lett for kundene dine a vege det du tilybr</p>
                                </div>
                                <div class="col-3">
                                    <button class="line_btn3">button</button>
                                </div>
                            </div>
                        </div>
                        <div class="line line4">
                            <div class="row">
                                <div class="col-1">
                                    <h2 class="_4">4</h2>
                                </div>
                                <div class="col-4">
                                    <h2 class="_4">Innholds-produksjon</h2>
                                </div>
                                <div class="col-4">
                                    <p class="_4">Fotorelisteski 3d builder eller video som gir dere effektiv produsjon og gior det lett for kundene dine a vege det du tilybr</p>
                                </div>
                                <div class="col-3">
                                    <button class="line_btn4">button</button>
                                </div>
                            </div>
                        </div>
                        <div class="line line5">
                            <div class="row">
                                <div class="col-1">
                                    <h2 class="_5">5</h2>
                                </div>
                                <div class="col-4">
                                    <h2 class="_5">Design</h2>
                                </div>
                                <div class="col-4">
                                    <p class="_5">Fotorelisteski 3d builder eller video som gir dere effektiv produsjon og gior det lett for kundene dine a vege det du tilybr</p>
                                </div>
                                <div class="col-3">
                                    <button class="line_btn5">button</button>
                                </div>
                            </div>
                        </div>
                        <div class="line line6">
                            <div class="row">
                                <div class="col-1">
                                    <h2 class="_6">6</h2>
                                </div>
                                <div class="col-4">
                                    <h2 class="_6">Blide og videoredigering</h2>
                                </div>
                                <div class="col-4">
                                    <p class="_6">Fotorelisteski 3d builder eller video som gir dere effektiv produsjon og gior det lett for kundene dine a vege det du tilybr</p>
                                </div>
                                <div class="col-3">
                                    <button class="line_btn6">button</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-2">
                    <img class="cub3" src="cube3.png" alt="">
                    <img class="cub4" src="cube2.png" alt="">
                </div>
          </div>
      </section>
      <section class="fourth">
          <div class="container">
              <h1>Gode tips og informasjon i bloggen</h1>
              <div class="row">
                    <div class="col-lg-6">
                        <div class="card" >
                            <img src="big-beta.png" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h4>En liten over elementer til bilden ditt</h4>
                                <p>Jeg skal vide from produktet mitt i et rom men hva ma og bor vaere med? Det er lett a bastille et 3D...</p>
                            </div>
                          </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="card" >
                            <img src="big-beta.png" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h4>En liten over elementer til bilden ditt</h4>
                                <p>Jeg skal vide from produktet mitt i et rom men hva ma og bor vaere med? Det er lett a bastille et 3D...</p>
                            </div>
                          </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="card" >
                            <img src="big-beta.png" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h4>En liten over elementer til bilden ditt</h4>
                                <p>Jeg skal vide from produktet mitt i et rom men hva ma og bor vaere med? Det er lett a bastille et 3D...</p>
                            </div>
                          </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="card" >
                            <img src="big-beta.png" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h4>En liten over elementer til bilden ditt</h4>
                                <p>Jeg skal vide from produktet mitt i et rom men hva ma og bor vaere med? Det er lett a bastille et 3D...</p>
                            </div>
                          </div>
                    </div>
              </div>
          </div>
      </section>
      <section class="fifth">
          <div class="row">
            <div class="col-2">
                <img class="cub1" src="cube1.png" alt=""> <br>
                <img class="cub2" src="cube1.png" alt="">
              </div>
              <div class="col-8">
                  <div class="row">
                        <div class="col-lg-6">
                            <h1>Klar for en prat?</h1>
                            <p>Vi tar en uforpliktenda prat med deg on ditt prosjekt</p>
                        </div>
                        <div class="col-lg-6">
                            <form action="/" method="post">
                                <input placeholder="Name" type="text" name="name_field" id=""> <br>
                                <input placeholder="E-mail" type="email" name="email_field" id=""> <br>
                                <button>button</button>
                            </form>
                        </div>
                  </div>
              </div>
              <div class="col-2">
                <img class="cub1" src="cube1.png" alt=""> <br>
                <img class="cub2" src="cube1.png" alt="">
              </div>
          </div>
      </section>
      <footer>
          <div class="row">
              <div class="col-2">
                  <img src="cube2.png" alt="">
              </div>
              <div class="col-8">
                  <div class="row">
                      <div class="col-6">
                          <div class="nav-footer-links">
                                <h4>FANTOM</h4>
                                <a href="#">Hjem</a>
                                <a href="#">Tjenester</a>
                                <a href="#">Blogg</a>
                          </div>
                          <p class="description-footer">Vii Fantom Studio strekker oss langt for at du som kunde fär til
                            prosiektene dine, enten det er at du fär fotorealistiske bilder av
                            prosjektet som kommer eller at du trenger hjelp til hele eller deler
                            av markedsforingen sä stär vi pà for at informasionen du sender
                            ut treffer kundene dine og sorger for at de har lyst à kjope av deg.</p>
                      </div>
                      <div class="col-3">
                          <h3>Ta Kontakt</h3>
                          <h6><img style="margin-right: 10px;" width="16px" src="phone-call.png" alt=""> tlf: 941 63 884</h6>
                          <h6> <img style="margin-right: 10px;" src="email.png" alt=""> Martin@fantomstudio.no</h6>
                          <div class="social_links">
                              <a class="b" href="#"><img src="instagram.png" alt=""></a>
                              <a class="b" href="#"><img src="facebook.png" alt=""></a>
                              <a class="b" href="#"><img src="linkedin.png" alt=""></a>
                              <a href="#"><img src="pinterest.png" alt=""></a>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-2">
                <img src="cube1.png" alt="">
              </div>
          </div>
      </footer>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <script src="behaviour.js"></script>
</body>
</html>